:root {
    --primary: #009ac5;
    --secondary: #0051ff;
    --ternary: #d8edff;
    --glowing: #edff00;
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    margin: 100px 0 0 0;
    background-color: var(--ternary);
}

h2 {
    margin: 20px;
    font-size: 32px;
    font-family: 'Arial';
    border-bottom: solid 1px;
}

/* TEMP */
img {
    height: 100px;
}

.content {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.none {
    visibility: hidden;
}

header {
    z-index: 2;
    border-bottom: solid 1px;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a#title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--ternary);
    font-size: 24px;
    transition: all 0.6s;
}

body.scrolled a#title {
    font-size: 16px;
}

header img {
    height: 100px;
    transition: all 0.6s;
}

body.scrolled header img {
    height: 50px;
}

header h1 {
    padding: 0 15px;
    margin: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    height: 50px;
    padding: 0 10px;
    margin: 0 5px;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

nav li:hover {
    background-color: var(--secondary);
}

nav a {
    text-decoration: none;
    color: var(--ternary);
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
}

section:nth-of-type(2n + 1) {
    background-color: #cdc4ad;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 40px;
    border: solid 2px;
}

#about img {
    height: 200px;
    margin: 20px;
    float: right;
    border: black solid 1px;
}

#about div {
    margin: 0 20px;
}

#skills {
    text-align: center;
    margin-bottom: 40px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

#cards>div {
    width: 250px;
    height: 350px;
    margin: 20px;
}

.card {
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    text-align: center;
    color: var(--ternary);
    perspective: 1000px;
    transition: all 1s;
    transform-style: preserve-3d;
}

#cards div:hover div.card {
    background-color: var(--secondary);
    transform: rotateY(180deg);
}

#cards div.card h3 {
    font-size: 32px;
    position: absolute;
    width: 100%;
    top: 125px;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cards div.card>ul {
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    list-style: none;
    padding: 0;
    font-size: 18px;
}

#cards div.card>ul>li:hover {
    color: var(--glowing);
}

#cards div.card>ul>li>ul {
    display: none;
}

#cards div:hover div.card>ul>li:hover>ul {
    display: block;
    list-style: none;
    padding: 0;
    color: black
}

#holy_magic .card {
    background-image: url(../img/Aura-PNG-Photo.png);
    background-blend-mode: lighten;
}

#water_magic .card {
    background-image: url(../img/iiB5V1-water-drop-clipart-hd.png);
    background-blend-mode: multiply;
}

#party_tricks .card {
    background-image: url(../img/champagne.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position-x: 50px;
    background-position-y: 30px;
    background-repeat: no-repeat;
}

#special_abilities .card {
    background-image: url(../img/toad.png);
    background-blend-mode: multiply;
}

#hobbies {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#hobbies h2 {
    display: grid;
    grid-column: 1 / 6;
}

#hobbies>div {
    position: relative;
    background-color: black;
}

#hobbies>div>h3 {
    z-index: 1;
    position: absolute;
    color: white;
    bottom: 0;
    font-size: 22px;
    text-align: center;
    margin: 10px auto;
    width: 100%;
    text-shadow: 0px 0px 6px black;
}

#hobbies>div>img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    opacity: 0.7;
}

#hobbies>div:hover>img {
    opacity: 1;
}

#drinking,
#drinking img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#tricks,
#tricks img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#confession {
    background-color: #22214f;
    background-image: url(../img/zpoved.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#confession h2 {
    padding-top: 20px;
    color: var(--ternary);
}

#confession form {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confession form textarea {
    height: 500px;
    width: 100%;
    max-width: 300px;
    background-color: var(--primary);
    opacity: 0.8;
    color: white;
    font-size: 16px;
    border: solid 5px var(--secondary);
    padding: 10px;
}

#confession form input {
    background-color: gray;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    color: var(--ternary);
    font-size: 22px;
}

#confession form:valid input {
    background-color: var(--primary);
    box-shadow: 0 0 7px 1px white;
}

#confession form:valid input:hover {
    background-color: var(--secondary);
}

footer {
    background-color: white;
    border-top: solid 1px;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

footer>div {
    width: 200px;
    margin: 5px;
}

#donate {
    text-align: center;
    background-color: var(--primary);
    border-radius: 20px;
}

#donate:hover {
    background-color: var(--secondary);
}

#donate a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
}

#author {
    text-align: right;
}

#forgiveness {
    position: fixed;
    left: calc(50vw - 100px);
    top: 1vh;
    transition: top 1s, visibility 0.5s;
    width: 200px;
    height: 100px;
    background-color: var(--ternary);
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    align-content: center;
}

#forgiveness.popup {
    top: 10vh;
    z-index: 3;
}

#arrow {
    display: none;
}

.scrolled #arrow {
    display: block;
    z-index: 3;
    position: fixed;
    bottom: 60px;
    right: 40px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid;
    opacity: 0.5;
}

.scrolled #arrow:hover {
    opacity: 0.9;
}

.scrolled #arrow a {
    color: var(--secondary);
    font-size: 34px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

/* Navbar and grid shortening */
@media screen and (max-width: 640px) {
    nav {
        height: 100px;
        align-content: center;
    }

    body.scrolled nav {
        height: 50px;
    }

    nav ul {
        display: none;
    }

    nav::before {
        font-family: 'Material Symbols Outlined';
        font-size: 38px;
        color: var(--ternary);
        content: "\e5d2";
        padding: 0 10px;
        border-radius: 10px;
    }

    nav:hover::before {
        background-color: var(--secondary);
    }

    nav:hover ul {
        background-color: var(--ternary);
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        top: 100px;
        left: 0;
        transition: all 0.6s;
    }

    body.scrolled nav:hover ul {
        top: 50px;
    }

    nav:hover a {
        color: var(--primary);
    }

    nav:hover li:hover a {
        color: var(--ternary);
    }

    #hobbies {
        grid-template-columns: repeat(3, auto);
    }

    #hobbies h2 {
        grid-column: 1 / 4;
    }

    #hobbies :last-child {
        grid-column: 3;
    }

    #drinking,
    #drinking img {
        border-bottom-left-radius: 0px;
    }

    #collecting,
    #collecting img {
        border-bottom-left-radius: 20px;
    }

    #teaing,
    #teaing img {
        border-top-right-radius: 20px;
    }

    #tricks,
    #tricks img {
        border-top-right-radius: 0px;
    }

    footer {
        flex-direction: column;
    }

    #motto {
        text-align: center;
    }

    #author {
        text-align: center;
    }
}

/* Mobile layout */
@media screen and (max-width: 480px) {
    #about img {
        float: none;
        width: calc(100% - 40px);
        height: auto;
    }

    #hobbies {
        grid-template-columns: 100%;
    }

    #hobbies h2 {
        grid-column: 1 / 2;
    }

    #drinking {
        grid-row: 2;
    }

    #couching {
        grid-row: 3;
    }

    #teaing {
        grid-row: 4;
    }

    #collecting {
        grid-row: 5;
    }

    #tricks {
        grid-row: 6;
    }

    #hobbies :last-child {
        grid-column: 1;
    }

    #drinking,
    #drinking img {
        border-top-right-radius: 20px;
    }

    #collecting,
    #collecting img {
        border-bottom-left-radius: 0px;
    }

    #teaing,
    #teaing img {
        border-top-right-radius: 0px;
    }

    #tricks,
    #tricks img {
        border-bottom-left-radius: 20px;
    }
}